#layoutIndex{
    main{
        padding: 5px;
        h4{
            padding: 5px;
        }
        .filtrosDeActividades{
            padding: 5px;
        }
    }

}
.fotoActividades{
	width: 99%;
	border-radius: 8px 8px 0px 0px;
	margin: auto;
}
.botones{	
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 6px;
    a{
        text-decoration: none;
        color: black;
    }
}
.button{
    background-color: map-get($map:$colorBoton, $key:'grey');
    a{
        color: $textColorOrange70;
        font-size: 0.9em;
        padding: 0;
        padding-left: 3px;
        &:hover{
            font-size: 1em;
            color: $textColorOrange;
        }
    }
}

.verMasBtn{
    background-color:map-get($map:$colorBoton, $key:'grey');
	border-radius: 10px;
	border: 1px;
 	width: 30%;
    padding: 5px;
    font-size: 0.8em;
    &:hover{
        background-color: map-get($map:$colorBoton, $key:'orange');

        font-size: 0.95em;
    }
}
.comprarBtn{
	background-color: map-get($map:$colorBoton, $key:'green');
	border-radius: 10px;
	border: 1px;
 	width: 40%;
    padding: 5px;
    font-size: 0.8em;
    text-decoration: none;
    &:hover{
        font-size: 0.95em;
        padding: 6px;   
    }	
}
.ofertasIndex{
    .page-link{
        color: $textColorOrange70;
    }
}
