*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;	
 }
// colores
$mainColor: rgba(251,105,0,0.7);
$mainColor50: rgba(251,105,0,0.5);
$backgroundColor:rgba(220,248,253,0.5);
$textColorOrange:#FB6900;
$textColorOrange90:rgba(251,105,0,0.9);
$BtnGrey:rgba(106,103,103,0.4);
$BtnOrange:#FB6900;
$btnGreen:#4CAF50;
$keyColor:red; // para que usaria esto??

