*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;	
 }

// colores
$mainColor: rgba(251,105,0,0.7);
$mainColor50: rgba(251,105,0,0.5);
$backgroundColor:rgba(220,248,253,0.5);
$textColorOrange:#FB6900;
$textColorOrange90:rgba(251,105,0,0.9);

// mapa de colores para botones
$colorBoton: (
    'grey':rgba(106,103,103,0.4),
    'green':#4CAF50,
    'orange':#FB6900,);

@mixin fotos ($width, $margin, $border-radius) {
	width: $width;
	margin: $margin;
	border-radius: $border-radius;
}
@mixin textos ($size, $paddingTop) {
    font-size: $size;
    padding-top: $paddingTop;
}