#error404{
    main{
        h1{
        padding-top: 10px;
        padding-left: 10px;
         color: $textColorOrange;
         font-size: 2em;
         width: 35%;
         text-align: center;
        }
        h2{
            color: $textColorOrange90;
            font-size: 1.1em;
            text-align: center;
            width: 55%;
        }
        h3{
            padding: 20px 0 10px 0;
            font-size: 0.9em;
            text-align: center;
            line-height: 1.7em;
            margin:0;
        }
        .verMasBtn{
            background-color: map-get($map:$colorBoton, $key:'orange70');
            color: black;
            text-decoration: none;
            font-weight: 700;
            font-size: 1em;
        }
        #form{
            margin-top: 0;
            h4{
                margin: 0;
                padding: 0;
            }
            input{
                margin-bottom: 15px;
            }
            .botonEnvio{
                margin-bottom: 5px;
            }
        }
        #gifError{
            padding-top: 15px;
            padding-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            #textoError404{
                display: inline-flex;
                padding-bottom: 15px;
            }
            iframe{
                width: 90%;
                max-width: 400px;
                margin: auto;
            }
        }
        
    }
}