
#form{
	grid-area: form;
	width: 100%;
	padding: 10px;
	margin: auto;
	max-width: 500px;
	position: relative;
	margin-top: 40px;
}

.formulario{
	background-color: white;
	width: 90%;
	margin: auto;	
	box-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}
.formHeader{
	width: 100%;
	background-color: $mainColor;
	color: white;
}
.formHeader span{
	font-size: 1em;
	display: block;
	text-align: center;
	padding: 1.1em;
}
.form{
	padding: 1em;
	overflow: hidden;
	color: gray;
	font-size: 0.9em;
	label{
		width: 80%;
		font-weight: 500;
	}
	input:not([type="submit"]), .form textarea{
		border:none;
		border-bottom: 1px solid rgba(251,105,0,1);
		margin-bottom: 30px;
		font-size: 1.5em;
		outline: none;
		color: black;
	}
	textarea {
		min-height: 70px;
	}
}
.form label, .form input, .form textarea{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
.botonEnvio{
	border:none;
	padding: 10px;
	width: 30%;
	color: white;
	background-color: map-get($map:$colorBoton, $key:'orange');
	cursor: pointer;	
	&:hover{
		font-size: 1em;
	}
}