#fotoSlider{
	z-index: -10;
	height: 80vh;
	animation-name: fotoSliderHeroAnimation;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}
.carrouselIndex{
	height: auto;
}
.ofertasIndex{
	grid-area: ofertas;
	text-align: center;
    figure{
        margin: 5% 2%;
    }
}
.ofertasDestacadas{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 8px;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.8);
	padding:2px;
	background-color: $backgroundColor;
    figcaption{
        font-weight: 500;
        text-align: center;
        padding-top: 1rem;
    }
    p{
        text-align: center;
        padding: 10px;
    }
}

